<a href="https://colab.research.google.com/github/AndrewJGroves/PlottingInformation/blob/main/NuclearMissle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Plotting Nuclear Missle Data

Code to take data on nuclear missiles by country and plot them on a graph

In [1]:
pip install wikipedia

Collecting wikipedia
  Downloading https://files.pythonhosted.org/packages/67/35/25e68fbc99e672127cc6fbb14b8ec1ba3dfef035bf1e4c90f78f24a80b7d/wikipedia-1.4.0.tar.gz
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from wikipedia) (4.6.3)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from wikipedia) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.3)
Building wheels for collected packages: wikipedia
  Building wheel for wikipedia (setup.py) ... done
  Created wheel for wikipedia: filename=wikipedia-1.4.0-cp37-none-any.whl size=11686 sha256=ea326cec45838da096ac0598ffbbfe51a38d26f6763ea9d30680acdd50c403f0
  Stored in directory: /root/.cache/pip/wheels/87/2a/18/4e471fd96d12114d16fe4a446d00c3b38fb9efcb744bd31f4a
Successfully built wikipedia
Installing collected packages: wikipedia
Successfully installed wikipedia-1.4.0

Start my taking the information from wikipedia and cleaning it

In [62]:
import pandas as pd
import wikipedia as wp
import numpy as np

html = wp.page("Historical nuclear weapons stockpiles and nuclear tests by country").html().encode("UTF-8")
df = pd.read_html(html)[0] 

#Finding the countires and putting them into the index of a new data frame
countries=list(df.columns[0]) 
countries=countries[1:-1]
new_df=pd.DataFrame(index=countries)

for i in range(1,len(df.columns)-1):
  li=list(df.columns[i])
  year=li[0]
  li=li[1:-1]
  new_li=[]
  for i in li: #Cleaning the data and making the numbers useable
    if i == 'Ã¢\x80\x94':
      new_li.append(0)
    else:
      x=i.split('-')
      if len(x) > 1:
        x=x[1]
      else:
        x=x[0]
      x=x.split('[',1)
      x=x[0]
      x=x.split()
      x=x[0]
      x=x.replace(',','')
      try:
        x=int(x)
      except:
        x=np.nan
      new_li.append(x)
  new_df[year]=new_li
new_df.fillna(81,inplace=True) #Single value was hard to deal with and fast to input by hand due to the size of the dataframe
new_df.head(20)

                     1945  1950  1955   1960  ...   2000   2005  2014  2020
United States           2   299  2422  18638  ...   8360   7700  7260  5800
Soviet Union Russia     0     5   200   1605  ...  21500  17000  7500  6375
China                   0     0     0      0  ...    232    235   260   320
France                  0     0     0      0  ...    470    350   300   290
United Kingdom          0     0    14     42  ...    281    281   215   215
India                   0     0     0      0  ...     28     44   110   150
Pakistan                0     0     0      0  ...     28     38   120   160
Israel                  0     0     0      0  ...     72     80    80    90
North Korea             0     0     0      0  ...      2      8     8    40
South Africa            0     0     0      0  ...      0      0     0     0
Kazakhstan              0     0     0      0  ...      0      0     0     0
Ukraine                 0     0     0      0  ...      0      0     0     0
Belarus                 0     0     0      0  ...      0      0     0     0
Lithuania               0     0     0      0  ...      0      0     0     0

[14 rows x 15 columns]

Now we have a dataframe to work with we can start to do plotting

In [ ]:
import seaborn as sns
print(len(new_df.columns))
print(len(new_df.index))
sns.lineplot(data=new_df,x=new_df.columns)